<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
<meta name="description" content="Semantics and Linguistic Theory 34">
<meta property="og:title" content="SALT34" />
<meta property="og:url" content="https://saltconf.github.io/salt34" />
<meta property="og:description" content="SALT34">
<meta property="og:image" content="https://saltconf.github.io/salt34/images/salt34-preview.png">
<meta property="og:type" content="website" />
<link rel="stylesheet" href="/salt-site.css" type="text/css" media="screen" />
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">